# SPDX-License-Identifier: GPL-2.0-only
#
# Hardware monitoring chip drivers configuration
#

menuconfig UBM
	tristate "Universal Storage Backplane Management support"
	depends on HAS_IOMEM
	default y
	help
		Enable UBM support

config UBM4
        tristate "UBM 4 driver"
	depends on I2C
	default n
        help
          If you say yes here you get support for ubm 4 function
